<div class="content">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="dash-widget">
        <div class="dash-widgetimg">
          <span><img src="assets/img/icons/dash1.svg" alt="img" /></span>
        </div>
        <div class="dash-widgetcontent">
          <h5>
            Rp<span class="counters" data-count="100000">Rp100.000</span>
          </h5>
          <h6>Total Purchase Due</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="dash-widget dash1">
        <div class="dash-widgetimg">
          <span><img src="assets/img/icons/dash2.svg" alt="img" /></span>
        </div>
        <div class="dash-widgetcontent">
          <h5>Rp<span class="counters" data-count="100000">Rp100.000</span></h5>
          <h6>Total Sales Due</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="dash-widget dash2">
        <div class="dash-widgetimg">
          <span><img src="assets/img/icons/dash3.svg" alt="img" /></span>
        </div>
        <div class="dash-widgetcontent">
          <h5>
            Rp<span class="counters" data-count="100000">100.000</span>
          </h5>
          <h6>Total Sale Amount</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="dash-widget dash3">
        <div class="dash-widgetimg">
          <span><img src="assets/img/icons/dash4.svg" alt="img" /></span>
        </div>
        <div class="dash-widgetcontent">
          <h5>Rp<span class="counters" data-count="100000">100.000</span></h5>
          <h6>Total Sale Amount</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
      <div class="dash-count">
        <div class="dash-counts">
          <h4>1</h4>
          <h5>Customers</h5>
        </div>
        <div class="dash-imgs">
          <i data-feather="user"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
      <div class="dash-count das1">
        <div class="dash-counts">
          <h4>1</h4>
          <h5>Suppliers</h5>
        </div>
        <div class="dash-imgs">
          <i data-feather="user-check"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
      <div class="dash-count das2">
        <div class="dash-counts">
          <h4>1</h4>
          <h5>Purchase Invoice</h5>
        </div>
        <div class="dash-imgs">
          <i data-feather="file-text"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
      <div class="dash-count das3">
        <div class="dash-counts">
          <h4>1</h4>
          <h5>Sales Invoice</h5>
        </div>
        <div class="dash-imgs">
          <i data-feather="file"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12 d-flex">
      <div class="card flex-fill">
        <div
          class="card-header pb-0 d-flex justify-content-between align-items-center"
        >
          <h4 class="card-title mb-0">Produk Terbaru</h4>
          <div class="dropdown">
            <a
              href="javascript:void(0);"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="dropset"
            >
              <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a href="/product-list" class="dropdown-item">List Produk</a>
              </li>
              <li>
                <a href="add-product" class="dropdown-item">Tambah Produk</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive dataview">
            <table class="table datatable">
              <thead>
                <tr>
                  <th style="max-width: 30px;">No.</th>
                  <th>Nama Produk</th>
                  <th>Harga</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="productimgname">
                    <a href="/product-list" class="product-img">
                      <img
                        src="assets/img/product/product22.jpg"
                        alt="product"
                      />
                    </a>
                    <a href="/product-list">Sabun Mandi</a>
                  </td>
                  <td>Rp10.000</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td class="productimgname">
                    <a href="/product-list" class="product-img">
                      <img
                        src="assets/img/product/product23.jpg"
                        alt="product"
                      />
                    </a>
                    <a href="/product-list">Sabun Cair</a>
                  </td>
                  <td>Rp28.000</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td class="productimgname">
                    <a href="/product-list" class="product-img">
                      <img
                        src="assets/img/product/product24.jpg"
                        alt="product"
                      />
                    </a>
                    <a href="/product-list">Clear Shampo</a>
                  </td>
                  <td>Rp16.000</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td class="productimgname">
                    <a href="/product-list" class="product-img">
                      <img
                        src="assets/img/product/product6.jpg"
                        alt="product"
                      />
                    </a>
                    <a href="/product-list">Aqua Botol</a>
                  </td>
                  <td>Rp5.000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
